html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
form,
header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    outline: 0 none;
}

body {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: #6d6e71;
    line-height: 24px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 24px;
    line-height: 125%;
    color: #000000;
}

header {
    transition: all 0.4s ease;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    background: #000000;
}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.container:after,
.row:after {
    content: "";
    display: table;
    clear: both;
}

.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.studio h3 {
    color: #fff;
    font-family: 'Droid Serif', serif;
    text-align: center;
    margin-top: 150px;
    font-size: 40px;
    font-style: italic;
}

.studio h2 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    font-size: 75px;
    text-transform: uppercase;
}

#welcome-info {
    background: url(/img/welcomeimage.jpg) no-repeat;
    background-size: cover;
    min-height: 700px;
    display: block;
}

#gallery{
    background-color: #f7f7f7;
    padding: 100px 0 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.portfolio {
    text-align: center;
}

.portfolio h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.portfolio p {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    color: #777777;
    font-size: 16px;
}

.masonry {
    transition: all .5s ease-in-out;
    column-gap: 30px;
    column-fill: initial;
}

.masonry .item {
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
}

.masonry .item img {
    transition: all .5s ease-in-out;
    backface-visibility: hidden;
}

.masonry .item:hover img {
    opacity: .75;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .masonry {
        column-count: 2;
    }
}

@media only screen and (min-width: 1024px) {
    .masonry {
        column-count: 3;
    }
}